body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.6;
  }
  
  nav {
    background-color: #111;
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .nav-list li a {
    color: white;
    text-decoration: none;
    padding: 1em;
    display: block;
  }
  
  .nav-list li a:focus {
    outline: 2px solid #fff;
  }
  
  .hero {
    background-image: url('photos/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-text {
    background-color: rgb(0, 0, 0);
    padding: 1em 2em;
    border-radius: 10px;
    text-align: center;
    color: white;
  }
  
  .music {
    padding: 2em;
  }
  
  .albums {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
  
  .album {
    flex: 1 1 100%;
    background-color: #f4f4f4;
    padding: 1em;
    border-radius: 8px;
  }
  
  .album img {
    width: 100%;
    border-radius: 8px;
  }
  
  .watch {
    padding: 2em;
  }
  
  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }
  
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  @media (min-width: 768px) {
    .nav-list {
      flex-direction: row;
      justify-content: space-around;
    }
  
    .album {
      flex: 1 1 calc(50% - 1em);
    }
  }
  
  @media (min-width: 1024px) {
    .album {
      flex: 1 1 calc(33.333% - 1em);
    }
  }
  