
.nav-container {
    align-items: center;
    background-color: #d5d5d5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.nav-container a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

@media (min-width: 768px) {
    .nav-container {
        flex-direction: row;
        justify-content: center;
    }
}